/*=================COMMON STYLES==================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

button {
cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}
.container-wide {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/*=================COMMON STYLES==================*/


/*=================HEADER==================*/

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.container-flex {
    display: flex;
}
.page-nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 455px;
    margin-right: 332px;
}
.logotype {
    margin-right: 76px;
}
.menu {
    display: flex;
    column-gap: 40px;
}

.header-address {
    display: flex;
    align-items: center;
    max-width: 346px;

}

.address-list {
    display: flex;
    column-gap: 40px;
    
}

.logotype {
  
    font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
    
.span-studio {
    font-family: 'Raleway', sans-serif;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #2E2F42;
}

.menu-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.menu-link:active,
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.header-address {
    font-style: normal
}

.address-list-item-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-list-item-link:active,
.address-list-item-link:hover,
.address-list-item-link:focus {
    color: #404BBF;
}

/*=================HEADER==================*/

/*===============HERO SECTION==============*/

.hero {
background-color: #2e2f42;

} 
.hero-section {
    width: 1440px;
}

.main-title {
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        width: 496px;
        margin-top: 188px;
        margin-left: 472px;
        margin-right: 472px;
        margin-bottom: 24px;      
}

.order-serv-btn {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #4D5AE5;
        min-width: 169px;
        margin-top: 24px;
        margin-bottom: 188px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px 32px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: block;

}

.order-serv-btn:active,
.order-serv-btn:hover,
.order-serv-btn:focus {
    background-color: #404BBF
}

/*===============HERO SECTION==============*/

/*===============OUR BENEFITS==============*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

   .benefits-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    width: calc((100%-3*24) / 4);
   }

.benefits-list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4px;      
}

.benefits-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        width: 264px;
        padding-top: 4px;  
}
/*===============OUR BENEFITS==============*/


/*===================TEAM==================*/

.team {
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100%-3*24) / 4);    
}

.main-team-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

.team-list-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-right: auto;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 4px;
       
}

.team-list-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 4px;
    padding-bottom: 32px;
}

/*===================TEAM==================*/

/*==============OUR PORTFOLIO==============*/


   
.portfolio-list {
    display: flex;
        column-gap: 24px;
        flex-wrap: wrap;
        width: calc((100%-3*24) / 3);
}
.main-portfolio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
}

.portfolio-list-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
        padding-bottom: 4px;
}

.portfolio-list-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 4px;
        padding-bottom: 32px;
}

/*==============OUR PORTFOLIO==============*/

/*=================FOOTER==================*/
.page-footer {
    background-color:#2E2F42;
    padding-top: 60px;
   
}

.logotype-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-top: 101.5px;
    margin-left: 156px;
    margin-right: 1169px;
    margin-bottom: 8.75px;
}

.footer-span-studio {
    color: #f4f4fd;
}

.page-footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        width: 264px;
        margin-top: 8.75px;
        margin-left: 156px;
        margin-right: 1020px;
        padding-bottom: 100px;
}

/*=================FOOTER==================*/
